<template>
<div>
    <div class="row">

        <div class="col-md-9">
            <div class="box box-success">
 
                    <div class="box-body no-padding">
                        <div style="height:404px" id="map">

                        </div>
                    </div>

            </div>
        </div>

        <div class="col-md-3">
            
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-angle-double-up"></i></span>
    
                <div class="info-box-content">
                    <span class="info-box-text">Tekanan Tinggi</span>
                    <span class="info-box-number" v-on:click="showListSensor(3)">{{ vTek.TekananTinggi }} Sensor</span>
                </div>

            </div>
            
            <div class="info-box bg-aqua">
                <span class="info-box-icon"><i class="fa fa-check"></i></span>
    
                <div class="info-box-content">
                    <span class="info-box-text">Tekanan Normal</span>
                    <span class="info-box-number" v-on:click="showListSensor(2)">{{ vTek.TekananNormal }} Sensor</span>
    
                </div>
            </div>

            <div class="info-box bg-yellow">
                <span class="info-box-icon"><i class="fa fa-angle-double-down"></i></span>
    
                <div class="info-box-content">
                    <span class="info-box-text">Tekanan Rendah</span>
                    <span class="info-box-number" v-on:click="showListSensor(4)">{{ vTek.TekananRendah }} Sensor</span>
    
                </div>
            </div>

            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-close"></i></span>
    
                <div class="info-box-content">
                    <span class="info-box-text">Sensor Error</span>
                    <span class="info-box-number" v-on:click="showListSensor(5)">{{ vTek.SensorError }} Sensor</span>
                </div>

            </div>
        </div>

    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modalProp">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">INFORMASI SENSOR</h4>
          </div>
          <div class="modal-body">

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">IDENTITAS</a></li>
                    <li><a href="#tab_2" data-toggle="tab">GRAFIK</a></li>
                    <li><a href="#tab_3" data-toggle="tab">FOTO</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class='form-group' v-for="data in dataProps" v-bind:key="data.kolom">
                            <label :for='data.kolom'>{{ data.kolom }}</label>
                            <input type='text' v-model='data.nilai' readonly="readonly" class='form-control' id='text'>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_2">

                        <div class="row">
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Jenis:</label>

                                    <select class="form-control" id="jenisData">
                                        <option value="1">Tekanan In</option>
                                        <option value="2">Tekanan Out</option>
                                        <option value="3">Totalizer</option>
                                        <option value="4">Flow</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tanggal:</label>

                                    <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                        <input type="text" class="form-control pull-right" id="datepicker">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Jam awal:</label>

                                    <div class="input-group">
                                        <input type="text" id="jamAwal" class="form-control timepicker_awal">

                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Jam akhir:</label>

                                    <div class="input-group">
                                        <input type="text" id="jamAkhir" class="form-control timepicker_akhir">

                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label>&nbsp;</label>
                                <button type="button" v-on:click="loadDataGrafik()" class="btn btn-block btn-primary">Proses</button>
                            </div>
                        </div>

                        <div id="chart" >
                            <apexchart type=area height=350 :options="chartOptions" :series="series" />
                        </div>
                    </div>
                    <div class="tab-pane" id="tab_3">
                        <p>Isi Tab 3</p>
                    </div>
                </div>
            </div>

          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
</template>

<script>
    var wms_url = process.env.MIX_WMS_URL;
    var wmsSourceWM, wmsSourceBangunan, wmsSourcePipa, wmsSourceJalan,wmsSourceBadanJalan;
    var wmsSourceBadanSungai,wmsSourceKecamatan,wmsSourceKelurahan,wmsSourceDMA, wmsSourceAccPipa;
    var wmsSourceSensor;
    var wmsLayerWM, wmsLayerBangunan, wmsLayerPipa, wmsLayerJalan,wmsLayerBadanJalan,wmsLayerBadanSungai;
    var wmsLayerKecamatan,wmsLayerKelurahan,wmsLayerDMA,wmsLayerAccPipa;
    var wmsLayerSensor;
    var wmsLayerOsm;
    var view;
    var map;
    var geolocation;
    
    var baseUrl = process.env.MIX_BASE_URL;

    var wmsSourceAccPipaRab,wmsSourcePipaRab;
    var wmsLayerAccPipaRab,wmsLayerPipaRab;

    import VueApexCharts from 'vue-apexcharts'
    Vue.use(VueApexCharts)

    Vue.component('apexchart', VueApexCharts)

    export default {
        
        data() {
            return {
                vTek: {
                    TekananNormal: '-',
                    TekananRendah: '-',
                    TekananTinggi: '-',
                    SensorError: '-'
                },

                dataProps: [],

                series: [{
                    name: "Tekanan",
                    data: []
                }],

                selectedID: "",
                
                chartOptions: {
                    chart: {
                        stacked: false,
                        zoom: {
                            type: 'x',
                            enabled: true
                        },
                        toolbar: {
                            autoSelected: 'zoom'
                        }
                    },

                    dataLabels: {
                        enabled: false
                    },

                    markers: {
                        hover: {
                            sizeOffset: 4
                        }
                    },
                
                    xaxis: {
                        type: 'datetime',
                        labels:{
                            formatter: function(value, timestamp, index) {
                                return moment(new Date(timestamp)).format("HH:mm:ss")
                            }
                        }
                    },
                },
            }
        },

        mounted() {
            console.log('Component mounted.');
            this.initMap();

            this.$root.$on('component1', () => {
            // your code goes here
                this.c1method();
            });

            this.$root.$on('zoomSensor', (wkt) => {
            // your code goes here
                this.zoomSensor(wkt);
            });

            this.loadStatusSensor();

            $('#datepicker').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd'
            });
            
            $('#datepicker').datepicker('setDate', new Date());

            $('.timepicker_awal').timepicker({
                showInputs: false,
                showMeridian: false,
                showSeconds: true,
                defaultTime: '00:00:00'

            });
            
            $('.timepicker_akhir').timepicker({
                showInputs: false,
                showMeridian: false,
                showSeconds: true

            });

            //console.log(new Date(1566921622000).toString());
        },

        methods: {

            c1method: function(){
                alert("ok");
            },

            loadStatusSensor: function(){
                var vm = this;
                axios.get(baseUrl + "/tekanan/status_tek")
                    .then(function (response) {
                        
                       vm.vTek = response.data.data;

                    })
                    .catch(function (error) {
                        console.log(error);
                });
            },

            showListSensor: function(kriteria){
                this.$root.$emit('showData', kriteria);
            },

            zoomSensor: function(wkt){
                var x = wkt.split(" ")[0];
                var y = wkt.split(" ")[1];
                view.animate({zoom: 8}, {center: [x, y]});
            },

            initMap: function() {

                //Projection
                proj4.defs("EPSG:32750","+proj=utm +zone=50 +south +datum=WGS84 +units=m +no_defs");
                var proj32750 = ol.proj.get('EPSG:32750');
                proj32750.setExtent([213455.0,9619837.0,256642.0,9643029.0]);
                
                var extent = [213455.0,9619837.0,256642.0,9643029.0];
                
                var projection = new ol.proj.Projection({
                    code: 'EPSG:32750',
                    extent: extent
                });
                
                //List Objet Layers
                //==========================================================
                //Layer Water Meter
                wmsSourceWM = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_PELANGGAN_UMUM',
                        //'CQL_FILTER': "JML_TUNGGAK>0 AND STATUS='P3'"
                        'STYLES'    : 'wms_pdam:plg_style_sensor'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });
                
                wmsLayerWM = new ol.layer.Tile({
                    source: wmsSourceWM,
                    extent: extent
                });
                
                //Layer Bangunan
                wmsSourceBangunan = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_BANGUNAN'
                        //'CQL_FILTER': "JML_TUNGGAK>0 AND STATUS='P3'"
                        //'STYLES'      : 'point'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });
                
                wmsLayerBangunan = new ol.layer.Tile({
                    source: wmsSourceBangunan,
                    extent: extent
                });

                //SOURCE ACC RAB
                wmsSourceAccPipaRab = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_AKSESORIS_PIPA_RAB_P'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });

                wmsLayerAccPipaRab = new ol.layer.Tile({
                    source: wmsSourceAccPipaRab,
                    extent: extent
                });

                //SOURCE ACC PIPA
                wmsSourceAccPipa = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_ACC_PIPA'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });

                wmsLayerAccPipa = new ol.layer.Tile({
                    source: wmsSourceAccPipa,
                    extent: extent
                });

                wmsSourceSensor = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_WEB_SENSOR'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });

                wmsLayerSensor = new ol.layer.Tile({
                    source: wmsSourceSensor,
                    extent: extent
                });


                //SOURCE PIPA RAB
                wmsSourcePipaRab = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_JARINGAN_PIPA_RAB_P'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });

                wmsLayerPipaRab = new ol.layer.Tile({
                    source: wmsSourcePipaRab,
                    extent: extent
                });

                //SOURCE PIPA
                wmsSourcePipa = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_PIPE'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });
                
                wmsLayerPipa = new ol.layer.Tile({
                    source: wmsSourcePipa,
                    extent: extent
                });

                wmsSourceJalan = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_JALAN'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });
                
                wmsLayerJalan = new ol.layer.Tile({
                    source: wmsSourceJalan,
                    extent: extent
                });

                wmsSourceBadanJalan = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_WEB_BADAN_JALAN'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });
                
                wmsLayerBadanJalan = new ol.layer.Tile({
                    source: wmsSourceBadanJalan,
                    extent: extent
                });


                wmsSourceBadanSungai = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_WEB_BADAN_SUNGAI'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });
                
                wmsLayerBadanSungai = new ol.layer.Tile({
                    source: wmsSourceBadanSungai,
                    extent: extent
                });

                wmsSourceKecamatan = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_KECAMATAN'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });
                
                wmsLayerKecamatan = new ol.layer.Tile({
                    source: wmsSourceKecamatan,
                    extent: extent
                });

                wmsSourceKelurahan = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_KELURAHAN'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });
                
                wmsLayerKelurahan = new ol.layer.Tile({
                    source: wmsSourceKelurahan,
                    extent: extent
                });

                wmsSourceDMA = new ol.source.TileWMS({
                    url: wms_url,
                    params: {
                        'VERSION'   : '1.3.0', 
                        'LAYERS'    : 'wms_pdam:GIS_DMA',
                        'STYLES'    : 'wms_pdam:dma_qgis'
                    },
                    serverType: 'geoserver',
                    projection: 'EPSG:32750',
                    crossOrigin: 'anonymous'
                });
                
                wmsLayerDMA = new ol.layer.Tile({
                    source: wmsSourceDMA,
                    extent: extent
                });
                
                //Layer Open Street
                wmsLayerOsm = new ol.layer.Tile({
                    source: new ol.source.OSM()
                });
                
                //Membuat object Map
                view = new ol.View({
                    projection: 'EPSG:32750',
                    center: [232719.25265,9632500.30982],
                    zoom: 3
                });
                    
                    
                map = new ol.Map({
                    controls: ol.control.defaults({
                        attributionOptions: {
                        collapsible: false
                        }
                    }),
                    // layers: [wmsLayerOsm, wmsLayerKecamatan, wmsLayerKelurahan, wmsLayerDMA, wmsLayerBadanSungai, wmsLayerBadanJalan, wmsLayerJalan, wmsLayerPipa, wmsLayerPipaRab, wmsLayerBangunan, wmsLayerAccPipa, wmsLayerAccPipaRab, wmsLayerWM],
                    layers: [wmsLayerOsm, wmsLayerKecamatan, wmsLayerKelurahan, wmsLayerBadanSungai, wmsLayerDMA, wmsLayerBadanJalan, wmsLayerJalan, wmsLayerPipa, wmsLayerBangunan, wmsLayerWM, wmsLayerSensor],
                    target: 'map',
                    view: view
                });

                var scaleline = new ol.control.ScaleLine();
                map.addControl(scaleline);

                wmsLayerOsm.setVisible(false);
                wmsLayerKecamatan.setVisible(false);
                wmsLayerKelurahan.setVisible(false);
                //wmsLayerWM.setVisible(false);
                //wmsLayerDMA.setVisible(false);
                // wmsLayerAccPipa.setVisible(false);
                // wmsLayerAccPipaRab.setVisible(false);

                geolocation = new ol.Geolocation({
                    projection: view.getProjection()
                });

                geolocation.on('change', function() {
                    //console.log(geolocation['N']['position']);

                    view.animate({zoom: 8}, {center: [geolocation['N']['position']['0'], geolocation['N']['position']['1']]});
                    geolocation.setTracking(false);
                });

                // handle geolocation error.
                geolocation.on('error', function(error) {

                });

                var vm = this;

                map.on('singleclick', function(evt) {

                    var viewResolution = (view.getResolution());
                    var url = wmsSourceSensor.getGetFeatureInfoUrl(
                        evt.coordinate, viewResolution, 'EPSG:32750',
                        {'INFO_FORMAT': 'application/json'});
                    
                    url += "&FEATURE_COUNT=50";

                    vm.showPropLayer(url);

                });
            },

            showPropLayer: function(url){

                var vm = this;
                vm.dataProps = [];

                axios.get(url)
                    .then(function (response) {
                        
                        if(response.data.features.length > 0){
                            var props = response.data.features[0].properties;
                            for (var key in props) {
                                if (props.hasOwnProperty(key)) {
                                    var attribute = { kolom: ""+key, nilai: ""+props[key] };
                                    vm.dataProps.push(attribute);

                                    if(key == "ID"){
                                        vm.selectedID = props[key];
                                    }
                                }
                            }

                            $('#modalProp').modal('show');
                            //vm.loadDataGrafik();
     
                        }else{
                            alert("Tidak ada layer yg dipilih.");
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                });
            },


            loadDataGrafik: function(){

                var vm = this;
                vm.series.data = [];

                var Tanggal = $("#datepicker").val();
                var jamAwal = $("#jamAwal").val();
                var jamAkhir = $("#jamAkhir").val();
                var jenisData = $("#jenisData").val();

                axios.get(baseUrl + "/tekanan/grafik_tek/"+vm.selectedID+"/"+Tanggal+"/"+jamAwal+"/"+jamAkhir+"/"+jenisData)
                    .then(function (response) {
                        
                        //vm.chartOptions.xaxis.categories = response.data.label;
                        vm.series[0].data = response.data.data;
                        
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                });
            }
        }
    }
</script>
