<template>
<div>
    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Menu <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" v-on:click="showGrafik()">Grafik Perbandingan Sensor</a></li>
                <!-- <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
          </ul>
        </div>

        <div class="modal fade" tabindex="-1" role="dialog" id="modalGrafikSensor">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                      <label>Pilih Sensor:</label>

                      <select multiple  class="form-control" id="pilihSensor" >
                          <!-- <option value="1">Sensor 1</option>
                          <option value="2">Sensor 2</option>
                          <option value="3">Sensor 3</option>
                          <option value="7">Sensor 7</option> -->
                          <option v-for="option in lsSensor" v-bind:value="option.id" v-bind:key="option.id">{{ option.nama_sensor }}</option>
                      </select>
                  </div>
                </div>


                            
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Jenis:</label>

                            <select class="form-control" id="jenisData1">
                                <option value="1">Tekanan In</option>
                                <option value="2">Tekanan Out</option>
                                <option value="3">Totalizer</option>
                                <option value="4">Flow</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tanggal:</label>

                            <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                                <input type="text" class="form-control pull-right" id="datepicker1">
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Jam awal:</label>

                            <div class="input-group">
                                <input type="text" id="jamAwal1" class="form-control timepicker_awal">

                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Jam akhir:</label>

                            <div class="input-group">
                                <input type="text" id="jamAkhir1" class="form-control timepicker_akhir">

                                <div class="input-group-addon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                <button type="button" v-on:click="loadDataGfkSensor()" class="btn btn-block btn-primary">Proses</button>


                <div id="chart" >
                    <apexchart height=350 :options="chartOptions" :series="series" />
                </div>

            </div>
          </div>
        </div>
      </div>

</div>
</template>

<script>
    var baseUrl = process.env.MIX_BASE_URL;
    import VueApexCharts from 'vue-apexcharts'
    Vue.use(VueApexCharts)

    Vue.component('apexchart', VueApexCharts)

    export default {

        data() {
            return {
                vTek: {
                    Tes: '-'
                },

                lsSensor: [],

                series: [],

                chartOptions: {
                    chart: {
                        stacked: false,
                        type: "line",
                        zoom: {
                            type: 'x',
                            enabled: true
                        },
                        toolbar: {
                            autoSelected: 'zoom'
                        }
                    },

                    dataLabels: {
                        enabled: false
                    },

                    markers: {
                        hover: {
                            sizeOffset: 4
                        }
                    },
                
                    xaxis: {
                        type: 'datetime',
                        labels:{
                            formatter: function(value, timestamp, index) {
                                return moment(new Date(timestamp)).format("HH:mm:ss")
                            }
                        }
                    },
                },
            }
        },

        mounted() {
             $('#datepicker1').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd'
            });

            this.loadListSensor();

            console.log('Component mounted.')
        },

        methods: {
            showGrafik: function() {
              $("#modalGrafikSensor").appendTo("body").modal('show');;
            },

            loadListSensor: function(){
                var vm = this;
                axios.get(baseUrl + "/tekanan/get_list_sensor")
                    .then(function (response) {
                        
                        //vm.chartOptions.xaxis.categories = response.data.label;
                        //vm.series = response.data.data;
                        vm.lsSensor = response.data.data;
                        
                        console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                });
            },

            loadDataGfkSensor: function(){
                var vm = this;
                vm.series = [];

                var Id = $("#pilihSensor").val();
                var strId = "0";

                if(Id.length > 0){
                  strId = "";
                  var i;
                  for (i = 0; i < Id.length; i++) {
                    strId += Id[i] + ",";
                  }
                  strId = strId.substr(0, strId.length-1);
                }

                var Tanggal = $("#datepicker1").val();
                var jamAwal = $("#jamAwal1").val();
                var jamAkhir = $("#jamAkhir1").val();
                var jenisData = $("#jenisData1").val();

                axios.get(baseUrl + "/tekanan/grafik_tek2/"+strId+"/"+Tanggal+"/"+jamAwal+"/"+jamAkhir+"/"+jenisData)
                    .then(function (response) {
                        
                        //vm.chartOptions.xaxis.categories = response.data.label;
                        vm.series = response.data.data;
                        
                        //console.log(response.data);
                    })
                    .catch(function (error) {
                        console.log(error);
                });
            },
        },
    }
</script>
