<template>
    <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">

            <!-- Notifications Menu -->
            <li class="dropdown notifications-menu">
              <!-- Menu toggle button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning">10</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have 10 notifications</li>
                <li>
                  <!-- Inner Menu: contains the notifications -->
                  <ul class="menu">
                    <li><!-- start notification -->
                      <a href="#">
                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                      </a>
                    </li>
                    <!-- end notification -->
                  </ul>
                </li>
                <li class="footer"><a href="#">View all</a></li>
              </ul>
            </li>
            <!-- Tasks Menu -->

            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <!-- <img src="http://localhost/iotpdam/public/lte/dist/img/avatar5.png" class="user-image" alt="User Image"> -->
                <img v-bind:src="urlImage+'/lte/dist/img/avatar5.png'" class="user-image" alt="User Image">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs">PDAM Bandarmasih</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-custom-menu -->
</template>

<script>
    var baseUrl = process.env.MIX_BASE_URL;

    export default {
        data() {
            return {
                urlImage: baseUrl,
            }
        },

        mounted() {
            //this.urlImage = baseUrl;
            console.log('Component mounted.');
        }
    }
</script>
