<template>
<div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Jumlah Sensor</span>
              <span class="info-box-number" v-on:click="showData(1)">{{ vTek.JmlSensor }} Buah</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-calculator"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Rata-rata Tekanan</span>
              <span class="info-box-number">{{ vTek.AvgTekanan }} Bar</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-calculator"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Max. Tekanan</span>
              <span class="info-box-number">{{ vTek.MaxTekanan }} Bar</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-calculator"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Min. Tekanan</span>
              <span class="info-box-number">{{ vTek.MinTekanan }} Bar</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>

      <div class="modal fade" tabindex="-1" role="dialog" id="modalSensor">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">DAFTAR SENSOR</h4>
            </div>
            <div class="modal-body">
              <div style="overflow-x: scroll">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Kode</th>
                    <th style="min-width:200px">Nama Sensor</th>
                    <th>Tekanan</th>
                    <th>Jenis</th>
                    <th style="min-width:100px">Ref. Code</th>
                    <th>Minutes</th>
                    <th style="min-width:150px">Last Update</th>
                    <th>Aksi</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="data in dataSensor" v-bind:key="data.id">
                    <td>{{ data.kode_sensor }}</td>
                    <td>{{ data.nama_sensor }}</td>
                    <td>{{ data.tekanan }}</td>
                    <td>{{ data.jenis }}</td>
                    <td>{{ data.reference_code }}</td>
                    <td>{{ data.minutes_elapse }}</td>
                    <td>{{ data.updated_date }}</td>
                    <td><button type="button" v-on:click="gotoKoordinat(data.wkt)" class="btn btn-block btn-primary btn-xs">Pilih</button></td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>

</div>
</template>

<script>
  var baseUrl = process.env.MIX_BASE_URL;

    export default {
       data() {
            return {
                vTek: {
                    JmlSensor: '-',
                    AvgTekanan: '-',
                    MaxTekanan: '-',
                    MinTekanan: '-'
                },

                dataSensor: [],
            }
        },

        mounted() {
            console.log('Component mounted.');
            this.loadSummary();

            this.$root.$on('showData', (kriteria) => {
                this.showData(kriteria);
            });
        },

        methods: {
          loadSummary: function() {
                var vm = this;

                axios.get(baseUrl + "/tekanan/summary_tek")
                    .then(function (response) {
                        
                       vm.vTek = response.data.data;

                    })
                    .catch(function (error) {
                        console.log(error);
                });
            },

            c2method: function(){
              this.$root.$emit('component1') //like this
            },

            showData: function(kriteria){
                var vm = this;

                axios.get(baseUrl + "/tekanan/get_sensor/"+kriteria)
                      .then(function (response) {
                          
                        vm.dataSensor = response.data.data;
                        $("#modalSensor").modal('show');

                      })
                      .catch(function (error) {
                          console.log(error);
                });
            },

            gotoKoordinat: function(wkt){
                $("#modalSensor").modal('hide');
                this.$root.$emit('zoomSensor', wkt)
            }
        },
    }
</script>
